{# @var craft \craft\web\twig\variables\CraftVariable #}
{% cache globally unless cacheExempt %}
{# {% include '_partials/snippets/newsletter-signup' %} #}
<footer class="site-footer animatable">
    <div class="footer-links">
        <div class="container">
            <div class="footer-logo">
                {% include "_partials/snippets/logo" with {'type': 'light' } %}
            </div>
            <div class="footer-navigation-container">
              {% include '_partials/components/footer-navigation' %}
            </div>
        </div>
    </div>
    <div class="footer-credits">
        <div class="container">
            <div class="copyright rte">{{ siteSettings.footerCopyright | replace('${year}', "now"|date("Y")) | raw }}</div>
            <div class="referral">Site by <a href="https://www.boyerwebstudios.com" target="_blank" rel="noopener">Boyer Web Studios</a></div>
        </div>
    </div>
</footer>
{% endcache %}