{# @var craft \craft\web\twig\variables\CraftVariable #}
{% cache globally unless cacheExempt %}
<footer class="site-footer animatable">
    {# {% include '_partials/snippets/newsletter-signup' %} #}
    <div class="footer-links">
        <div class="container">
            <div class="footer-logo">
                {% include "_partials/snippets/logo" with {'size': 'compact' } %}
            </div>
            <div class="footer-navigation-container">
                <div class="copyright rte">{{ siteSettings.footerCopyright  }}</div>
                <div class="referral">Site by <a href="https://www.boyerwebstudios.com" target="_blank" rel="noopener">Boyer Web Studios</a></div>
            </div>
        </div>
    </div>
</footer>
{% endcache %}