{# Button snippet #}

{% set title = title is defined ? title : '' %}
{% set type = type is defined ? type : 'primary' %}
{% set url = url is defined ? url : '' %}
{% set target = target is defined ? target : '' %}
{% set isLightbox = isLightbox is defined ? isLightbox : false %}

{# If no button variable was passed in, or the title is empty, don't output the button #}
{% if title|length and url|length %}
<a class="button button--{{ type }}" href="{{ url }}" {% if target|length %} target="{{ target }}" {% if target == '_blank' %} rel="nofollow" {% endif %} {% endif %} {% if isLightbox %} data-lightbox data-router-disabled {% endif %}>
  {{ title }}
</a>
{% endif %}
