{% import '_macros/lazyImager' as LazyImager %}
{% set type = type is defined ? type : 'standard' %} {# pass {type: 'light'} into the snippet to load the light version of the logo if it exists #}

{% if type == 'light' and siteSettings['logo_light'] is defined %}
  {% set logo = siteSettings.logo_light.one() %}
{% endif %}

{% if logo is not defined or logo|length < 1 %}
  {% set logo = siteSettings['logo'] is defined ? siteSettings.logo.one() : null %}
{% endif %}

{% if logo|length %}
	{% set logoOptions = {
        sizes: [
            { width: 400},
            { width: 200 },
            { width: 100 },
            { width: 75 },
            { width: 50 },
        ],
        wrapImage: false,
        allowUpscale: true,
        alt: logo.title,
        transparent: true,
        format: 'png'
    } %}
{% endif %}

{% if logo|length %}
    <a class="logo" href="{{ siteUrl }}">
        {{ LazyImager.LazyImager(logo, logoOptions) }}
    </a>
{% else %}
    <a class="logo" href="{{ siteUrl }}">
        <!-- Generator: Adobe Illustrator 22.0.0, SVG Export Plug-In -->
        <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="144px" height="141px" viewbox="0 0 144 141" style="enable-background:new 0 0 144 141;" preserveaspectratio="xMinYMin meet">
            <defs></defs>
            <g>
                <g id="letter">
                    <path d="M87.8,65.9c19.3,9.8,21.7,27.9,19.9,38.6c-3.6,22.7-18.9,36.4-50.2,36.4H0V0h56.6c26.9,0,46.6,16.1,45.8,43 C102.2,49.4,98,60.7,87.8,65.9z M57.6,55c17.3,0,17.9-25,0-25H37v25H57.6z M57.8,110c21.6,0,21.2-29,0-29H37v29H57.8z"/>
                </g>
                <circle id="dot" cx="128" cy="125" r="16"/>
            </g>
        </svg>
    </a>
{% endif %}