<div class="section newsletter-signup--section">
    <div class="container">
        <h2 class="inline--heading text-center">Get The Latest</h2>
        <div class="newsletter-form--container">
            <form class="newsletter-form">
                <div class="field-group">
                    <div class="field no-spacing">
                        <input class="input" type="email" name="email" placeholder="Your Email">
                    </div>
                    <div class="buttons">
                        <input class="button" type="submit" value="SIGN UP">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>