# Craft general settings
ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
ENABLE_TEMPLATE_CACHING=0
ENVIRONMENT=local
THROW_DEPRECIATION_EXCEPTIONS=1
IS_SYSTEM_LIVE=1
RUN_QUEUE_AUTOMATICALLY=1
SECURITY_KEY=

# Craft database settings
DB_DRIVER=mysql
DB_SERVER=mysql
DB_USER="default"
DB_PASSWORD="secret"
DB_DATABASE=default
DB_SCHEMA=""
DB_TABLE_PREFIX=""
DB_PORT=3306

# URL & path settings
SITE_NAME="SELF"
ASSETS_URL=http://localhost/
SITE_URL=http://localhost/
DEFAULT_SITE_URL="http://localhost/"
WEB_ROOT_PATH=/var/www/cms/web

# Craft & Plugin Licenses
LICENSE_KEY=
PLUGIN_IMAGEOPTIMIZE_LICENSE=
PLUGIN_RETOUR_LICENSE=
PLUGIN_SEOMATIC_LICENSE=
PLUGIN_TRANSCODER_LICENSE=
PLUGIN_WEBPERF_LICENSE=
PLUGIN_NEO_LICENSE=
PLUGIN_FORMIE_LICENSE=

# S3 settings
S3_KEY_ID=REPLACE_ME
S3_SECRET=REPLACE_ME
S3_BUCKET=devmode-bucket
S3_REGION=us-east-2
S3_SUBFOLDER=

# CloudFront settings
CLOUDFRONT_URL=
CLOUDFRONT_DISTRIBUTION_ID=
CLOUDFRONT_PATH_PREFIX=

# Mailgun Settings
SYSTEM_EMAIL=hello@boyerwebstudios.com
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_ENDPOINT=

# Redis settings
REDIS_ENABLED=false
REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_DEFAULT_DB=0
REDIS_CRAFT_DB=0

# Disqus settings
DISQUS_PUBLIC_KEY=
DISQUS_SECRET_KEY=

# Google Analytics settings
GA_TRACKING_ID=

# FastCGI Cache Bust settings
FAST_CGI_CACHE_PATH=

DB_DSN="mysql:host=mysql;port=3306;dbname=default;"
