{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="site-footer animatable">
    {# {% include '_partials/snippets/newsletter-signup' %} #}

    <div class="container container--large">
        <div class="copyright">
            &copy;{{ now|date('Y') }}
        </div>
    </div>
</footer>