{# @var craft \craft\web\twig\variables\CraftVariable #}
<footer class="site-footer animatable">
    <div class="container">
        <div class="copyright">
            &copy;{{ now|date('Y') }}
        </div>
    </div>
</footer>