{# @var craft \craft\web\twig\variables\CraftVariable #}
{% cache globally unless cacheExempt %}
{% set topBarNavigationLinks = craft.entries({
    section: 'topBarNavigation',
	with: ['children']
}).all() %}

<div class="promo-nav--section section--dark">
	<div class="container container--full">
		<nav class="promo-nav">
			{% include "_partials/components/social-links" %}

			<div class="promo-nav--menu">
            {% for item in topBarNavigationLinks %}
				{% include "_partials/snippets/button" with {
                    title: item.navigationLink.getText(),
                    url: item.navigationLink.getUrl(),
                    target: item.navigationLink.getTarget(),
                    type: item.buttonType,
					icon: item.icon,
                    isLightbox: false
                } %}
            {% endfor %}
			</div>
		</nav>
	</div>
</div>
{% endcache %}