{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
<section class="section section--small animatable">
    <div class="container container--small">
        <h1>Welcome to the Craft Starter bootstrap theme</h1>
        <p>Looks like everything is set up properly! Get in there and make something cool. </p>

        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                This is an example column
            </div>
            <div class="cell medium-6">
                This is an example column
            </div>
        </div>
    </div>
</section>

{% include '_partials/components/content_builder' %}

{% endblock %}

{% block _inline_js %}
{% endblock %}