{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
<section class="section section--medium animatable">
    <div class="container container--small">
        <h1 class="page--heading">Welcome to Craft CMS!</h1>
        <p>
            Check out the <a href="https://github.com/joeRob2468/bws-craft-starter-bootstrap" target="_blank">documentation for the Boyer Web Studios starter project</a> for some tips, and you can read the <a href="https://docs.craftcms.com/v3/" target="_blank">Craft CMS documentation</a> to learn how Craft CMS works. You also might find the <a href="https://get.foundation/sites/docs/xy-grid.html" target="_blank">Foundation XY Grid documentation</a> helpful.
        </p>
    </div>
</section>

{% include '_partials/components/content_builder' %}

{% endblock %}

{% block _inline_js %}
{% endblock %}