{# @var craft \craft\web\twig\variables\CraftVariable #}
{% extends "_layouts/layout.twig" %}

{% block _inline_css %}
{% endblock %}

{% block content %}
<section class="section section--small animatable">
    <div class="container">
        <h2>Welcome to the BWS bootstrap theme for Craft CMS</h2>
        <p>Looks like everything is set up properly!</p>
    </div>
</section>

<section class="section section--small animatable">
	<div class="container">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                This is an example column
            </div>
            <div class="cell medium-6">
                This is an example column
            </div>
        </div>
	</div>
</section>


{% include '_partials/components/content_builder' %}

{% endblock %}

{% block _inline_js %}
{% endblock %}