/* 
** style.scss - you'll be making most of your changes here.
**
** Refer to the _variables.scss file to set up some of the more 
** commonly-used settings for individual sites! 
*/
@charset "utf-8";

/******************** Imports ********************/
@import '~foundation-sites/scss/util/util';

@import "fonts";
@import "functions";
@import "variables";
@import "animations";

@import "foundation-settings";
@import '~foundation-sites/scss/foundation';

// Foundation Imports
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids
@include foundation-xy-grid-classes;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-table;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Hamburger Icons
// $hamburger-padding-x: 10px;
// $hamburger-padding-y: 10px;
// $hamburger-layer-width: 35px;
// $hamburger-layer-height: 3px;
// $hamburger-layer-spacing: 6px;
// $hamburger-types: ('squeeze');
// $hamburger-layer-color: #FFFFFF;
// $hamburger-hover-opacity: 1;
// @import 'hamburgers/_sass/hamburgers/hamburgers';

// CSS Easing functions - https://github.com/KingScooty/sass-easing
// Only import if you need something other than the default ease
// @import "~awesome-sass-easing/_sass-easing.scss";

// Swiper 
@import '~swiper/swiper';

// Common Styles (overrides and utilities)
@import "common";

/******************** Typography ********************/
.page--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1.6rem;
  font-size: rem-calc(35);

  @include breakpoint(medium up) {
    font-size: rem-calc(65);
  }
}

.primary--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1.6rem;
  font-size: rem-calc(35);

  @include breakpoint(medium up) {
    font-size: rem-calc(65);
  }
}

.subtitle--heading {
  font-family: $accent-copy-font;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.3;
  color: $tertiary-accent;
  font-size: rem-calc(25);
  margin-bottom: 0.6rem;

  @include breakpoint(medium up) {
    font-size: rem-calc(30);
  }
}

.inline--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1rem;
  font-size: rem-calc(22);

  @include breakpoint(medium up) {
    font-size: rem-calc(32);
  }
}

.cta {
  font-family: $body-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: 1.8;
  margin-bottom: 0;
  font-size: rem-calc(20px);

  @include breakpoint(medium up) {
    font-size: rem-calc(20px);
  }

  .section--dark & {
    color: #fefefe;
  }
}

.rte {
  h3 {
    @extend .inline--heading;
  }
}

/******************** Form Styles ********************/

form {
  input:disabled, textarea:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .field input, .field textarea {
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(#333333 ,0.06);
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    //border-left: 2px solid #FFFFFF;
    color: $body-copy-color;
    font-size: rem-calc(18px);
    line-height: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    height: auto;

    transition: border-color 200ms ease, box-shadow 200ms ease;

    &::placeholder {
      color: #7B8D9A;
    }

    &:focus, &:active {
      border-color: #DDDDDD;
      border-left: 2px solid $primary-accent;
      box-shadow: 0px 12px 15px 0px rgba(#333333, 0.1);
    }

    &.invalid {
      border-color: #d10e0e;
      color: #d10e0e;

      &::placeholder {
        color: #d10e0e;
      }
    }
  }

  .field-group {
    display: flex; 
    flex-direction: row;

    @include breakpoint(small down) {
      flex-direction: column;
    }

    .field {
      flex: 1;
      
      @include breakpoint(medium up) {
        &:not(:last-of-type):not(.no-spacing) {
          margin-right: 0.65rem;
        }
      }
    }
  }

  .button, .buttons .button {
    width: 100%;

    background: $primary-accent;
    border: 1px solid $primary-accent;
    border-color: $primary-accent;
    color: #FFFFFF;
    padding: 0.5rem 1.5rem;
    line-height: 1.6rem;
    margin-right: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    border-radius: 0;
    
    &:not(:last-of-type) {
      margin-right: 0.75rem;
    }

    &:hover {
      background: darken($primary-accent, 5);
      border-color: darken($primary-accent, 5);
    }

    &.submitted {
      background: #00b330;
      border-color: #00b330;
    }
  }
}

/******************** General Styles ********************/
.rtf li {
  margin-bottom: 1em;
}

.hamburger {
  padding-bottom: 5px;
}

// Section type background colors
.section--standard {
  background-color: #FFFFFF;

  &.section--dark {
    background-color: $primary-accent;
  }
}

.section--alternate {
  background-color: #FAFAFA;

  &.section--dark {
    background-color: $tertiary-accent;
  }
}

/******************** Global Component Styles ********************/
// Promo Bar
header.site-header {
  .promo-nav--section {
    background: $primary-accent;
    color: #FFFFFF;

    .promo-nav {
      display: flex;
      flex-direction: row;
      background: $primary-accent;
      color: #FFFFFF;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;

      @include breakpoint(small down) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .social-links-container {
      .social-links .link {
        margin-left: 0;

        &:not(:last-of-type) {
          margin-right: rem-calc(20px);
        }

        a {
          color: #FFFFFF;

          &:hover {
            color: $secondary-accent;
          }

          .icon {
            color: inherit;
          }
        }
      }
    }

    .promo-nav--menu {
      .social-links-container ~ & {
        margin-top: 1rem;
      }

      .buttons .button {
        border-radius: 5px;
        font-size: rem-calc(15px);
        padding: 0.5rem 1rem;

        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }
      }

      @include breakpoint(small down) {
        text-align: center;

        .buttons {
          align-items: center;
          margin-top: 0.35rem;

          .button {
            width: 100%;
            justify-content: center;
          }

          .button:not(:last-of-type) {
            margin-bottom: 0.35rem;
            margin-right: 0;
          }
        }
      }
    }
  }
}
// Main navigation bar
header.site-header {
  
  .main-nav--section {
    border-bottom: none;
    
    nav.main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nav-logo {
        padding: 0.35rem 0;
        margin-left: 1rem;
        margin-right: 1rem;

        img, svg {
          height: rem-calc(80px);
        }

        @include breakpoint(medium down) {
          padding: 0.35rem 0;
          margin-left: 0;
          margin-right: 0;

          img, svg {
            height: rem-calc(60px);
          }
        }
      }

      .nav-links {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

        .mobile-navigation-trigger-container {
          display: none;
        }

        @include breakpoint(medium down) {
          justify-content: space-between;

          .mobile-navigation-trigger-container {
            display: flex;
          }

          .main-navigation--menu {
            display: none;
          }
        }
      }
    }
  }
} 

// Main navigation menu
.main-navigation--menu {
  display: flex;
}

.main-navigation--menu ul.menu {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  // Standard menu item
  .menu-item {
    display: inline-flex;
    align-items: center;
    position: relative;

    a {
      display: block;
      color: #1C2436;
      padding: 1rem 0.75rem;
      transition: color 300ms ease;
      text-transform: uppercase;
      font-size: rem-calc(17px);
      font-weight: 600;
      letter-spacing: 0.05em;
    }

    &:hover > a {
      color: $tertiary-accent;
    }

    .icon {
      width: rem-calc(20px);
      height: rem-calc(20px);
      transform: translate(0, rem-calc(4px));
      color: $primary-accent;
    }
  }

  // Highlighted menu item
  // Note: displays as button unless it is a dropdown parent
  .menu-item.highlighted:not(.is-parent) {
    a {
      padding: 0.25rem 1.3rem;
      border: 2px solid $primary-accent;
      background: rgba($primary-accent, 0);
      color: $primary-accent;
      border-radius: rem-calc(50px);
      font-weight: 600;
      transition: background-color 300ms ease, color 300ms ease;

      &:hover {
        background: rgba($primary-accent, 1);
        color: #FFFFFF;
      }
    }

    &:not(:first-of-type) a {
      margin-left: 1rem;
    }

    &:not(:last-of-type) a {
      margin-right: 1rem;
    }
  }
}

// Main Navigation dropdown menus
.main-navigation--menu > ul.menu {
  // First level dropdowns
  .menu-item > .dropdown-menu {
    display: block;
    position: absolute;
    left: -30%;
    top: calc(100% - 2px);
    border: 1px solid #F0F0F0;
    border-top: 2px solid $primary-accent;
    width: auto;
    background: #FFFFFF;
    font-size: rem-calc(18px);

    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease, visibility 150ms ease;

    .dropdown-menu-item {
      > a {
        position: relative; 
        padding: 0.4rem 2.5rem 0.4rem 1rem;
        white-space: nowrap;
        transition: color 150ms ease, background-color 150ms ease;

        .icon {
          position: absolute;
          right: 0.25rem;
          top: 50%;
          transform: translateY(-50%);
          transition: color 150ms ease;
        }
      }

      &:hover > a {
        color: $primary-accent;
        //background: $primary-accent;
      }

      // add some spacing to the first and last items in a dropdown menu
      &:first-of-type {
        padding-top: 0.4rem;
      }

      &:last-of-type {
        padding-bottom: 0.4rem;
      }
    }
  }

  .menu-item:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  // Second level dropdowns
  .menu-item > .dropdown-menu .dropdown-menu-item > .nested-dropdown-menu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    min-height: 100%;
    background: $primary-accent;
    border-top: 2px solid $primary-accent;
    margin-top: -2px;
    font-size: rem-calc(18px);

    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease, visibility 150ms ease;

    .dropdown-menu-item {
      a {
        color: #FFFFFF;
      }

      &:hover > a {
        color: rgba(#FFFFFF, 0.75);
      }
    } 
  }

  .menu-item > .dropdown-menu .dropdown-menu-item:hover > .nested-dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
}

// Mobile navigation menu
.mobile-navigation-trigger-container {
  display: flex;
  align-items: center;

  .mobile-navigation-trigger {
    display: block;
    line-height: 1;
    padding: 0.5rem;

    svg.icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.mobile-navigation--menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #FFF;

  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms ease, opacity 300ms ease;

  &.open {
    @include breakpoint(medium down) {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile-navigation-heading {
    padding: 0.3rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #F0F0F0;
    background: #FAFAFA;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .mobile-navigation-trigger-container .mobile-navigation-trigger {
        color: $primary-accent;
      }
    }
  }

  .mobile-navigation {
    max-height: 100%;
    overflow-y: auto;
  }

  .menu-container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;

    .menu {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;

      // first level items
      .menu-item {
        a {
          display: block;
          padding: 0.65rem;
          font-size: rem-calc(20px);
          color: #1C2436;
          text-transform: uppercase;
          transition: color 200ms ease;
        }

        & > a, & > .dropdown-accordion-heading {
          border-bottom: 1px solid rgba(#000, 0.1);
        }

        .dropdown-accordion-heading {
          display: flex;
          flex-direction: row;

          a {
            flex: 1;
          }

          .dropdown-expand-button {
            display: flex;
            padding: 0 0.5rem;
            color: $primary-accent;
            align-items: center;
            cursor: pointer;

            svg.icon {
              transition: transform 200ms ease;
            }
          }
        }

        &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
          transform: rotate(180deg);
        }
      }

      // second level dropdowns
      .menu-item {
         .dropdown-menu {
            display: none;
            padding-bottom: 1rem;

            a {
              font-size: rem-calc(18px);
              text-transform: none;
              color: rgba(#1C2436, 0.9);
            }
          }

          &.open > .dropdown-menu {
            display: block;
          }

          &.open > .dropdown-accordion-heading a {
            color: $primary-accent;
          }

          &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
            transform: rotate(180deg);
          }
        }

      // third level dropdowns
      .menu-item .dropdown-menu-item {
        .nested-dropdown-menu {
          display: none;
          padding-left: 1rem;
          padding-bottom: 1rem;

          a {
            color: rgba(#1C2436, 0.9);
          }
        }

        &.open > .nested-dropdown-menu {
          display: block;
        }

        &.open > .dropdown-accordion-heading a {
          color: $primary-accent;
        }

        &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Footer
footer.site-footer {
  .footer-links {
    font-size: rem-calc(16px);
    color: #595959;

    a {
      color: #595959;
      font-weight: 600;

      &:hover {
        color: $primary-accent;
      }
    }

    .footer-logo {
      text-align: center;
      padding: 3rem 0;

      a.logo {
        display: inline-block;

        img {
          height: 5.5rem;
        }
      }
    }

    .footer-navigation-container {
      padding: 2.5rem 0;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid rgba(#000000, 0.1);

      .copyright {
        max-width: 25rem;

        p:last-of-type {
          margin-bottom: 0;
        }
      }

      .referral {

      }
    }
  }
}

/******************** Component Styles ********************/

/******************** Block Styles ********************/

// Hero content block
.section-hero--block {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 75vh;
  min-height: 25rem;
  max-height: 45rem;
  background: #000000;
  z-index: 1;
  overflow: hidden;

  .background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.75;
  }

  .content-container {
    text-align: center;

    .page--heading, .subtitle--heading {
      margin-bottom: 0.4rem;
    }
    
    .subtitle--heading {
      @include breakpoint(medium up) {
        font-size: rem-calc(40px);
      }
    }
    
    .buttons {
      align-items: center;
      justify-content: center;
      margin-top: 1.6rem;
    }
  }
}

// Subpage Hero block
.section-hero_subpage--block {
  .subtitle--heading, .page--heading {
    text-align: center;
  }
}

// Image content block
.section-image--block {
  .image-container img {
    @include breakpoint(medium up) {
      max-height: rem-calc(800px);
    }
  }
}

// Text CTA content block
.section-text_cta--block {
  .content-container {
    text-align: center;
    max-width: rem-calc(850px);
    margin-left: auto;
    margin-right: auto;

    .buttons {
      justify-content: center;
      align-items: center;
    }
  }
}

// Logo List content block
.section-logo_list--block {
  text-align: center;

  .logo-items {
    margin-top: 2rem;

    .logo-item {
      display: flex;

      .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        @include breakpoint(medium up) {
          padding: 1rem;
        }

        img {
          mix-blend-mode: multiply;
        }
      }
    }
  }
}

// Image/Text content block
.section-image_text--block {
  .image-container {
    margin-bottom: 2rem;
  }

  .content-container .buttons {
    margin-top: 1.4rem;
  }

  @include breakpoint(large up) {
    .image-container {
      margin-bottom: 0;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 5%;

      .content p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// Image/Text Banner content block
.section-image_text_banner--block {
  .text-container {
    @extend .section.section--medium;
  }

  &.section--dark .text-container .subtitle--heading {
    color: #B9DFF5;
  }

  &.section--dark.section--alternate .text-container .subtitle--heading {
    color: #FFFFFF;
  }

  @include breakpoint(large up) {
    display: flex;
    flex-direction: row;

    &.section-alignment--reversed {
      flex-direction: row-reverse;
    }

    .image-container {
      flex: 1;
      position: relative;
      z-index: 1;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
    .text-container {
      flex: 1;

      .text-content {
        max-width: 26rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

// Image/Stats Banner content block
.section-image_stats_banner--block {
  &.section--dark .text-container .subtitle--heading {
    color: #B9DFF5;
  }

  &.section--dark.section--alternate .text-container .subtitle--heading {
    color: #FFFFFF;
  }

  .text-container {
    @extend .section.section--medium;
    flex: 1;

    .text-content {
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;

      text-align: center;
    }
  }

  .statistics--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .statistic-item {
      text-align: center;
      max-width: 15rem;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;

      .statistic {
        position: relative;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0.5rem;

        color: #6CC9FF;
        font-family: $heading-copy-font;
        font-size: rem-calc(40px);
        line-height: 1;

        &.highlighted {
          color: #FFFFFF;
          background-color: $tertiary-accent;
          border-radius: 15px;
        }
      }

      .description {
        font-size: rem-calc(18px);
        font-weight: 600;
        text-transform: uppercase;
        
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &.section--alternate .statistics--container .statistic {
    color: #FFFFFF;

    &.highlighted {
      background-color: #FFFFFF;
      color: $tertiary-accent;
    }
  }

  @include breakpoint(large up) {
    display: flex;
    flex-direction: row;

    &.section-alignment--reversed {
      flex-direction: row-reverse;
    }

    .image-container {
      flex: 1;
      position: relative;
      z-index: 1;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }

    .statistics--container.show-as-grid {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

// Image/Text Slider content block
.section-image_text_slider--block {
  display: flex;
  flex-direction: row;

  &.section--dark .text-container .subtitle--heading {
    color: #B9DFF5;
  }

  &.section--dark.section--alternate .text-container .subtitle--heading {
    color: #FFFFFF;
  }

  .content-container {
    @extend .section.section--medium;
    flex: 1;

    .text-container .text-content {
      max-width: 26rem;
      margin-left: auto;
      margin-right: auto;
    }

    .navigation-container {
      margin-top: 4rem;

      .slider-navigation .slider-navigation-item {
        @extend .container;

        color: #FFFFFF;
        position: relative;
        background: rgba($tertiary-accent, 0);
        transition: background-color 200ms ease;
        cursor: pointer;

        &.active, &:hover, &:focus {
          background: rgba($tertiary-accent, 1);
        }

        .nav-text-container {
          @extend .inline--heading;

          font-size: rem-calc(26px);
          padding-top: 1rem;
          padding-bottom: 1rem;
          margin-bottom: 0;
          color: #FFFFFF;
          text-transform: uppercase;
          width: 100%;
          max-width: 26rem;
          margin-left: auto;
          margin-right: auto;
        }

        .icon-container {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);

          .icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }

  .slides-container {
    flex: 1.4;
    overflow: hidden;
    
    .swiper-container {
      height: 100%;
    }

    .slide-wrapper {
      display: flex;

      .slide {    
        position: relative;
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: center;
        z-index: 1;
        padding: 3rem;
        
        .image-container {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }

        .caption-container {
          background: rgba(#FFFFFF, 0.9);
          padding: 2rem 3rem;

          .inline--heading {
            color: $heading-copy-color;
          }

          .content p {
            color: $body-copy-color;

            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .buttons {
            margin-top: 1rem;

            .button {
              @extend .button;
            }
          }
        }
      }
    }
  }

  // Mobile Styles
  @include breakpoint(medium down) {
    flex-direction: column;

    .content-container .navigation-container .slider-navigation .slider-navigation-item .nav-text-container {
      font-size: rem-calc($base-font-size);
    }

    .slides-container {
      .swiper-slide {
        height: initial;
      }

      .slide-wrapper .slide {
        padding: 0;

        .caption-container {
          margin-top: 20rem;
        }
      }
    }
  }
}

/******************** Snippet Styles ********************/
a.logo {
  position: relative;
  display: flex;
  justify-content: center;

  .svg, img {
    height: rem-calc(45px);
    width: auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

ul.social-links {
  overflow: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  li {
    margin-left: 10px;

    a, a .icon {
      font-size: 20px;
      font-weight: normal;
      color: $primary-accent;
      transition: color 200ms ease, opacity 200ms ease;

      &:hover {
        color: $tertiary-accent;
      }
    }
  }
}

.newsletter-signup--section {
  padding: 1rem 0;

  .newsletter-form--container {
    padding: 2rem;
    margin: 1.5rem auto;
    max-width: rem-calc(950px);
    background: #F8F8F8;

    form {
      max-width: rem-calc(550px);
      margin-left: auto;
      margin-right: auto;

      .buttons .button:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint(medium up) {
        .field-group .field input, .field-group .buttons .button {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Button styles
.button {
  @extend .cta;

  font-size: rem-calc(18px);
  display: inline-flex;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: initial;
  text-align: left;
  text-decoration: none;
  text-transform: none;

  &:hover, &:active, &:focus {
    background: none;
    color: initial;
    border: none;
  }

  transition: color 200ms ease, background-color 200ms ease, border-color 200ms ease, opacity 200ms ease;

  & > .icon {
    margin-right: 0.5rem;
  }

  &.button--text {
    position: relative;
    background: transparent;
    color: $tertiary-accent;
    padding: 0;
    border-width: 0;
    text-transform: uppercase;
    transition: color 200ms ease, opacity 200ms ease;
    z-index: 1;
    align-items: center;

    .icon-container {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #D1D1D1;
      width: rem-calc(22px);
      height: rem-calc(22px);
      border-radius: 50%;
      margin-left: 0.4rem;

      .icon {
        font-size: rem-calc(16px);
        color: $tertiary-accent;
      }
    }

    &:hover, &:focus {
      color: $primary-accent;
    }

    .section--dark & {
      color: #78B9F5;

      &:hover, &:focus {
        color: #fefefe;
      }

      .icon-container {
        border-color: #FFFFFF;

        .icon {
          color: #FFFFFF;
        }
      }
    }

    .section--dark.section--alternate & {
      color: #FFFFFF;

      &:hover, &:focus {
        color: #FFFFFF;
        opacity: 0.8;
      }
    }
  }

  &.button--primary,
  &.button--secondary {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 0.65rem 1.75rem;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }

  &.button--secondary {
    border-color: $secondary-accent;
    background: transparent;
    color: $secondary-accent;

    &:hover, &:focus {
      background: darken($secondary-accent, 10);
      border-color: darken($secondary-accent, 10);
      color: #FFFFFF;
    }

    .section--dark & {
      border-color: #FFFFFF;
      background: transparent;
      color: #FFFFFF;

      &:hover, &:focus {
        background: darken($secondary-accent, 10);
        border-color: darken($secondary-accent, 10);
        color: #FFFFFF;
      }
    }
  }
  &.button--primary {
    border-color: $secondary-accent;
    background: $secondary-accent;

    &:hover, &:focus {
      background: darken($secondary-accent, 10);
      border-color: darken($secondary-accent, 10);
    }
  }
}

// Buttons container 
.buttons {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint(medium up) {
    flex-direction: row;
  }

  .button {
    margin-bottom: 1rem;
    display: inline-flex;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include breakpoint(medium up) {
      margin-bottom: 0;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}