/* 
** style.scss - you'll be making most of your changes here.
**
** Refer to the _variables.scss file to set up some of the more 
** commonly-used settings for individual sites! 
*/
@charset "utf-8";

/******************** Imports ********************/
@import '~foundation-sites/scss/util/util';

@import "fonts";
@import "functions";
@import "variables";
@import "animations";

@import "foundation-settings";
@import '~foundation-sites/scss/foundation';

// Foundation Imports
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids
@include foundation-xy-grid-classes;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-table;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Hamburger Icons
// $hamburger-padding-x: 10px;
// $hamburger-padding-y: 10px;
// $hamburger-layer-width: 35px;
// $hamburger-layer-height: 3px;
// $hamburger-layer-spacing: 6px;
// $hamburger-types: ('squeeze');
// $hamburger-layer-color: #FFFFFF;
// $hamburger-hover-opacity: 1;
// @import 'hamburgers/_sass/hamburgers/hamburgers';

// CSS Easing functions - https://github.com/KingScooty/sass-easing
// Only import if you need something other than the default ease
// @import "~awesome-sass-easing/_sass-easing.scss";

// Common Styles (overrides and utilities)
@import "common";

/******************** Typography ********************/
.page--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1.6rem;
  font-size: rem-calc(35);

  @include breakpoint(medium up) {
    font-size: rem-calc(70);
  }
}

.primary--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1.6rem;
  font-size: rem-calc(30);

  @include breakpoint(medium up) {
    font-size: rem-calc(50);
  }
}

.inline--heading {
  font-family: $heading-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: $header-lineheight;
  margin-bottom: 1.6rem;
  font-size: rem-calc(25);

  @include breakpoint(medium up) {
    font-size: rem-calc(35);
  }
}

.cta {
  font-family: $body-copy-font;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $heading-copy-color;
  line-height: 1.8;
  margin-bottom: 0;
  font-size: rem-calc(20);

  @include breakpoint(medium up) {
    font-size: rem-calc(20);
  }

  .is-dark & {
    color: #fefefe;
  }
}

/******************** Form Styles ********************/

form {
  input:disabled, textarea:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .field input, .field textarea {
    border: none;
    box-shadow: 0px 5px 12px 0px rgba(#333333 ,0.06);
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    //border-left: 2px solid #FFFFFF;
    color: $body-copy-color;
    font-size: rem-calc(18px);
    line-height: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    height: auto;

    transition: border-color 200ms ease, box-shadow 200ms ease;

    &::placeholder {
      color: #7B8D9A;
    }

    &:focus, &:active {
      border-color: #DDDDDD;
      border-left: 2px solid $primary-accent;
      box-shadow: 0px 12px 15px 0px rgba(#333333, 0.1);
    }

    &.invalid {
      border-color: #d10e0e;
      color: #d10e0e;

      &::placeholder {
        color: #d10e0e;
      }
    }
  }

  .field-group {
    display: flex; 
    flex-direction: row;

    @include breakpoint(small down) {
      flex-direction: column;
    }

    .field {
      flex: 1;
      
      @include breakpoint(medium up) {
        &:not(:last-of-type):not(.no-spacing) {
          margin-right: 0.65rem;
        }
      }
    }
  }

  .button, .buttons .button {
    width: 100%;

    background: $primary-accent;
    border: 1px solid $primary-accent;
    border-color: $primary-accent;
    color: #FFFFFF;
    padding: 0.5rem 1.5rem;
    line-height: 1.6rem;
    margin-right: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    border-radius: 0;
    
    &:not(:last-of-type) {
      margin-right: 0.75rem;
    }

    &:hover {
      background: darken($primary-accent, 5);
      border-color: darken($primary-accent, 5);
    }

    &.submitted {
      background: #00b330;
      border-color: #00b330;
    }
  }
}

/******************** General Styles ********************/
.rtf li {
  margin-bottom: 1em;
}

.hamburger {
  padding-bottom: 5px;
}

/******************** Global Component Styles ********************/
// Main navigation bar
header.site-header {
  
  .main-nav--section {
    border-bottom: 1px solid #F0F0F0;
    
    nav.main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .nav-logo {
        padding: 1.5rem 0;
        img, svg {
          height: rem-calc(50px);
        }

        @include breakpoint(medium down) {
          padding: 0.75rem 0;

          img, svg {
            height: rem-calc(35px);
          }
        }
      }

      .nav-links {
        display: flex;

        .mobile-navigation-trigger-container {
          display: none;
        }

        @include breakpoint(medium down) {
          .mobile-navigation-trigger-container {
            display: flex;
          }

          .main-navigation--menu {
            display: none;
          }
        }
      }
    }
  }
} 

// Main navigation menu
.main-navigation--menu {
  display: flex;
}

.main-navigation--menu ul.menu {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  // Standard menu item
  .menu-item {
    display: inline-flex;
    align-items: center;
    position: relative;

    a {
      display: block;
      color: $heading-text-color;
      padding: 1rem 0.5rem;
      transition: color 300ms ease;
    }

    &:hover > a {
      color: $primary-accent;
    }

    .icon {
      width: rem-calc(20px);
      height: rem-calc(20px);
      transform: translate(0, rem-calc(4px));
      color: $primary-accent;
    }
  }

  // Highlighted menu item
  // Note: displays as button unless it is a dropdown parent
  .menu-item.highlighted:not(.is-parent) {
    a {
      padding: 0.25rem 1.3rem;
      border: 2px solid $primary-accent;
      background: rgba($primary-accent, 0);
      color: $primary-accent;
      border-radius: rem-calc(50px);
      font-weight: 600;
      transition: background-color 300ms ease, color 300ms ease;

      &:hover {
        background: rgba($primary-accent, 1);
        color: #FFFFFF;
      }
    }

    &:not(:first-of-type) a {
      margin-left: 1rem;
    }

    &:not(:last-of-type) a {
      margin-right: 1rem;
    }
  }
}

// Main Navigation dropdown menus
.main-navigation--menu > ul.menu {
  // First level dropdowns
  .menu-item > .dropdown-menu {
    display: block;
    position: absolute;
    left: -30%;
    top: calc(100% - 2px);
    border: 1px solid #F0F0F0;
    border-top: 2px solid $primary-accent;
    width: auto;
    background: #FFFFFF;
    font-size: rem-calc(18px);

    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease, visibility 150ms ease;

    .dropdown-menu-item {
      > a {
        position: relative; 
        padding: 0.4rem 2.5rem 0.4rem 1rem;
        white-space: nowrap;
        transition: color 150ms ease, background-color 150ms ease;

        .icon {
          position: absolute;
          right: 0.25rem;
          top: 50%;
          transform: translateY(-50%);
          transition: color 150ms ease;
        }
      }

      &:hover > a {
        color: $primary-accent;
        //background: $primary-accent;
      }

      // add some spacing to the first and last items in a dropdown menu
      &:first-of-type {
        padding-top: 0.4rem;
      }

      &:last-of-type {
        padding-bottom: 0.4rem;
      }
    }
  }

  .menu-item:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  // Second level dropdowns
  .menu-item > .dropdown-menu .dropdown-menu-item > .nested-dropdown-menu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    min-height: 100%;
    background: $primary-accent;
    border-top: 2px solid $primary-accent;
    margin-top: -2px;
    font-size: rem-calc(18px);

    visibility: hidden;
    opacity: 0;
    transition: opacity 150ms ease, visibility 150ms ease;

    .dropdown-menu-item {
      a {
        color: #FFFFFF;
      }

      &:hover > a {
        color: rgba(#FFFFFF, 0.75);
      }
    } 
  }

  .menu-item > .dropdown-menu .dropdown-menu-item:hover > .nested-dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
}

// Mobile navigation menu
.mobile-navigation-trigger-container {
  display: flex;
  align-items: center;

  .mobile-navigation-trigger {
    display: block;
    line-height: 1;
    padding: 0.5rem;

    svg.icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.mobile-navigation--menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #FFF;

  opacity: 0;
  visibility: hidden;
  transition: visibility 300ms ease, opacity 300ms ease;

  &.open {
    @include breakpoint(medium down) {
      visibility: visible;
      opacity: 1;
    }
  }

  .mobile-navigation-heading {
    padding: 0.3rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #F0F0F0;
    background: #FAFAFA;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .mobile-navigation-trigger-container .mobile-navigation-trigger {
        color: $primary-accent;
      }
    }
  }

  .mobile-navigation {
    max-height: 100%;
    overflow-y: auto;
  }

  .menu-container {
    width: 100%;
    padding: 0 1rem 1rem 1rem;

    .menu {
      list-style-type: none;
      margin: 0;
      display: flex;
      flex-direction: column;

      // first level items
      .menu-item {
        a {
          display: block;
          padding: 0.65rem;
          font-size: rem-calc(20px);
          color: #000;
          text-transform: uppercase;
          transition: color 200ms ease;
        }

        & > a, & > .dropdown-accordion-heading {
          border-bottom: 1px solid rgba(#000, 0.1);
        }

        .dropdown-accordion-heading {
          display: flex;
          flex-direction: row;

          a {
            flex: 1;
          }

          .dropdown-expand-button {
            display: flex;
            padding: 0 0.5rem;
            color: $primary-accent;
            align-items: center;
            cursor: pointer;

            svg.icon {
              transition: transform 200ms ease;
            }
          }
        }

        &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
          transform: rotate(180deg);
        }
      }

      // second level dropdowns
      .menu-item {
         .dropdown-menu {
            display: none;
            padding-bottom: 1rem;

            a {
              font-size: rem-calc(18px);
              text-transform: none;
              color: rgba(#000, 0.9);
            }
          }

          &.open > .dropdown-menu {
            display: block;
          }

          &.open > .dropdown-accordion-heading a {
            color: $primary-accent;
          }

          &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
            transform: rotate(180deg);
          }
        }

      // third level dropdowns
      .menu-item .dropdown-menu-item {
        .nested-dropdown-menu {
          display: none;
          padding-left: 1rem;
          padding-bottom: 1rem;

          a {
            color: rgba(#000, 0.9);
          }
        }

        &.open > .nested-dropdown-menu {
          display: block;
        }

        &.open > .dropdown-accordion-heading a {
          color: $primary-accent;
        }

        &.open > .dropdown-accordion-heading .dropdown-expand-button svg.icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Footer
footer.site-footer {
  padding: 3rem 0;
  border-top: 1px solid #EEEEEE;

  .footer-links {
    text-align: center;
    font-size: rem-calc(17px);
    color: #5A5A5A;

    a {
      color: #5A5A5A;

      &:hover {
        color: $primary-accent;
      }
    }

    ul.menu {
      list-style: none;
      margin: 0;

      li {
        display: inline-block;
      }
    }

    .footer-navigation-container {
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .separator {
        display: inline-flex;
        padding: 0 0.45rem;
        font-size: rem-calc(14px);
        line-height: 1em;
        vertical-align: middle;
        transform: translateY(-(rem-calc(1px)));
      }

      @include breakpoint(small down) {
        flex-direction: column;

        .footer-navigation {
          order: 1;
          padding-bottom: 1rem;
        }

        .copyright {
          order: 2;

          .separator {
            display: none;
          }
        }

        .referral {
          order: 3;

          .separator {
            display: none;
          }
        }
      }
    }

    .social-links-container {
      padding: 1rem 0;

      .social-links .link a {
        display: inline-flex;
        align-self: center;
        padding: 0.25rem 0.5rem;
        font-size: rem-calc(20px);

        svg.icon {
          width: 1em;
          height: 1em;
          position: relative;
          top: .125em;
        }
      }

      @include breakpoint(small down) {
        padding: 0;
      }
    }
  }
}

/******************** Component Styles ********************/

/******************** Block Styles ********************/

.section-image--block {
  .image-container img {
    @include breakpoint(medium up) {
      max-height: rem-calc(800px);
    }
  }
}

/******************** Snippet Styles ********************/
a.logo {
  position: relative;
  display: flex;
  justify-content: center;

  .svg, img {
    height: rem-calc(45px);
    width: auto;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.newsletter-signup--section {
  padding: 1rem 0;

  .newsletter-form--container {
    padding: 2rem;
    margin: 1.5rem auto;
    max-width: rem-calc(950px);
    background: #F8F8F8;

    form {
      max-width: rem-calc(550px);
      margin-left: auto;
      margin-right: auto;

      .buttons .button:last-of-type {
        margin-bottom: 0;
      }

      @include breakpoint(medium up) {
        .field-group .field input, .field-group .buttons .button {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Button styles
.button {
  @extend .cta;

  display: inline-flex;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: initial;
  text-align: left;
  text-decoration: none;
  text-transform: none;

  &:hover, &:active, &:focus {
    background: none;
    color: initial;
    border: none;
  }

  transition: color 200ms ease, background-color 200ms ease, border-color 200ms ease;

  &.button--text {
    position: relative;
    background: transparent;
    color: $body-copy-color;
    padding: 0 5px;
    border-width: 0;
    text-transform: uppercase;
    transition: color 200ms ease;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      background: rgba($primary-accent, .15);
      left: 0;
      right: 0;
      bottom: 5px;
      height: 7px;
      z-index: -1;

      transition: background-color 200ms ease;
    }

    &:hover, &:focus {
      color: $primary-accent;

      &::after {
        background: rgba($primary-accent, 0.1);
      }
    }

    .is-dark & {
      color: #FFFFFF;

      &::after {
        background: rgba(#16191A, .15);
      }

      &:hover::after {
        background: rgba(#16191A, .25);
      }
    }

    .is-dark &:hover, .is-dark &:focus {
      color: #fefefe;
    }
  }

  &.button--primary,
  &.button--secondary {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    padding: 0.75rem 2.25rem;
    color: #fefefe;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
  }

  &.button--secondary {
    border-color: #fefefe;
    background: transparent;

    &:hover {
      border-color: $primary-accent;
      background: $primary-accent;
    }
  }
  &.button--primary {
    border-color: $primary-accent;
    background: $primary-accent;
  }
}

// Buttons container 
.buttons {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint(medium up) {
    flex-direction: row;
  }

  .button {
    margin-bottom: 1rem;
    display: inline-flex;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include breakpoint(medium up) {
      margin-bottom: 0;
      margin-right: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}