{# Image Block #}
{% set block_type = "image" %}

{# Macro Imports #}
{% import '_macros/lazyImager' as LazyImager %}

{# Block variable defaults #}
{% set sectionType = block['sectionType'] is defined ? block.sectionType : 'primary' %}
{% set image = block['image'] is defined ? block.image[0] : null %}
{% set caption = block['rtfShortContent'] is defined ? block.rtfShortContent : '' %}

{% if image %}
	{% set imageOptions = {
        sizes: [
            { width: 2200 },
            { width: 1920 },
            { width: 1366 },
            { width: 768 },
            { width: 360 },
        ],
        alt: image.title,
        cover: true,
        wrapImage: true,
    } %}
{% endif %}

{% if image %}
<section class="section section--medium section--whitespace {% if sectionType|length %}section--{{ sectionType }}{% endif %} section--standard section-{{ block_type}}--block animatable">
    <div class="container">
        {{ LazyImager.LazyImager(image, imageOptions) }}
        {% if caption|length %}<div class="caption content rte">{{ caption }}</div>{% endif %}
    </div>
</section>
{% endif %}
